body {
    background-image: url("images/music.jpeg");
}
/* to make table rows hoverable */

tr:hover {
    background-color: rgba(32,178,170,0.7);}

.card{

    background-color: rgb(0,0,0,0.5);
}
.custom-div {
    opacity: 0.5;
}


th, td {
    color: white;  
}


ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

/* to change border color of hamburger button */
.navbar-toggler {
    border-color: rgb(32,178,170);

}

/* to change the color of hamburger icon */
 .custom-toggler .navbar-toggler-icon {

     background-image: url(
         "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(32,178,170,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
 }
 .btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
     
     background-color: rgb(32, 178,170) !important;
     border-color: rgb(32,178,170) !important ;
 }


.navbar-custom {
    border-radius: 0;
    background-color: rgb(0,0,0,0.5);
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
    color: rgb(32,178,170);
}

.nav-link{
    color: rgb(32,178,170);

}

.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}
